*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
}
.hero{
    background: url('../img/bg-hero.svg');
    background-position: center center;
    height: 720px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}